#intro {
    text-align: center;
}
#cal {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 35em;
    max-height: 55em;
}
#screens {
    min-height: 95px;
    position: relative;
}
#screen {
    margin-left: auto;
    margin-right: auto;
    max-width: 20em;
    text-align: right;
    bottom: 0;  
    right: 0;
    font-size: 3em;
    padding-right: 8px;
    word-break: break-word;
}
#smallScreen {
    min-height: 25px;
    text-align: right;
    font-size: 20px;
    word-break: break-word;
}
#calcKeys {
    background-color: white;
    display: grid;
    grid-gap: 1.5px;
    grid-template-columns: repeat(4, 3fr);
    height: 400px;
}
.num {
    background-color: white;
}
.decimal, .clear, .operator {
    background-color: #eee;
}
.equal {
    background-color: #ff7033;
    grid-column: -2;
    grid-row: 2 / span 4;
  }
button:active {
    background: #2980b9;
    top: 2px;
  }